<h1>
  {{ title }}
</h1>

<form [formGroup]="form">
  <div>
    <label>
      <span>selection:</span>
      <select formControlName="select">
        <option *ngFor="let option of dropdownOptions" [value]="option.key">{{option.value}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>
      <span>text:</span>
      <textarea formControlName="text"></textarea>
      <span *ngIf="isTextAreaRequired">textarea required</span>
    </label>
  </div>
</form>

<div>
  valid: {{form.valid}}
</div>
<div>
  errors: {{form.errors | json}}
</div>
<div>
  selected: {{form.get('select').value | json}}
</div>
